.speech{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    color: rgba(57, 114, 228, 0.224);
}
.stage-direction:hover{
    color: brown;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}
.LORD{
    color: deeppink;

}
.CHEVELEY{
    color: fuchsia;
}



                        table{
                            border: 1px goldenrod;
                            text-align: center;
                            color: green;
                            border: 1px solid darkgreen;
                        }
                        th{
                            border: 1px solid darkgreen;
                            text-align: center;
                            color: magenta;
                            border: 1px solid springgreen;
                        }
                        td{
                            border: 1px maroon;
                            text-align: center;
                            color: mediumslateblue;
                            border: 1px solid springgreen;
                        }